[defaults]
# 역할(roles) 폴더의 위치를 상대 경로로 지정합니다.
roles_path = ./roles:./provisioning/ansible-jenkins/roles
inventory = ./provisioning/ansible-jenkins/inventory/hosts.ini
# 호스트 키 체크 비활성화 (편의상 추가)
host_key_checking = False
display_skipped_hosts = False
# 로컬 폴더(./collections)를 먼저 찾고, 없으면 시스템 기본 경로를 찾도록 설정
# collections_path = ./collections:/usr/share/ansible/collections:~/.ansible/collections # 0126 ansible-galaxy가 죽어서 추가한 부분 추후 제거 바람

